<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><a href="https://en.wikipedia.org/wiki/Dots_and_Boxes">Dots and Squares game</a></h1>
    <p>Starting with an empty grid of dots, two players take turns adding a single 
        horizontal or vertical line between two unjoined adjacent dots. The player 
        who completes the fourth side of a 1×1 box earns one point and takes another 
        turn. (A point is recorded by placing a "A" or "B" identifying the player in 
        the box) The game ends when no more lines can be placed. The winner is the player 
        with the most points. This game uses 10X10 dots.</p>
</body>
</html>